<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Best Recipes</title>
    </head>
    <body>
        <h1>List of Recipes</h1>
        <a href="/recipes/new">Create New Recipe</a>
        <% @recipe.each do |recipe| %>
            <div>
                <a href="/recipes/<%= recipe.id %>"> <%= recipe.name %> </a>
            </div>
        <% end %>
    </body>
</html>
