<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1> <%= @recipe.name %> </h1>
        <h1> <%= @recipe.ingredients %> </h1>
        <h1> <%= @recipe.cook_time %> </h1>
        <a href="/recipes">List all Recipes</a>
    </body>
</html>
